@import "tailwindcss";

:root {
  --background: #F6F1ED;
  --brown: #56352E;
  --light-brown: #834639;
  --dark-green: #2E452E;
  --black: #232323;
}

@font-face {
  font-family: "Poppins";
  src: local("Poppins"), url("./assets/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Poppins;
}
