@import "tailwindcss";

:root {
  --background: #F6F1ED;
  --brown: #56352E;
  --light-brown: #834639;
  --dark-green: #2E452E;
  --black: #232323;
}

@font-face {
  font-family: "Poppins";
  src: local("Poppins"), url("./assets/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Anton";
  src: local("Anton"), url("./assets/fonts/Anton/Anton-Regular.ttf") format("truetype");
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Poppins;
}

.title {
  font-family: Anton;
}

.topNav {
  margin-top: 20px;
  background-color: rgb(from var(--brown) r g b / 0.4);
  border-radius: 60px;
}

.hero-text {
  background: radial-gradient(ellipse 700px 400px at center,
      rgba(86, 53, 46, 0.4) 0%,
      rgba(86, 53, 46, 0.2) 15%,
      transparent 25%);
}